.venv/
**/.venv/
mlruns/
**/mlruns/
mlflow.db
**/mlflow.db
spark-warehouse/
**/spark-warehouse/
metastore_db/
**/metastore_db/
derby.log
**/derby.log
__pycache__/
**/__pycache__/
*.pyc
train.csv
outputs/*
!outputs/model_metrics.csv
!outputs/inventory_summary.csv
!outputs/tuning_metrics.csv
!screenshots/
!screenshots/**